VITE_SUPABASE_PROJECT_ID="your_project_id"
VITE_SUPABASE_PUBLISHABLE_KEY="your_publishable_key"
VITE_SUPABASE_URL="your_supabase_url"
VITE_ADMIN_KEY="your_admin_secret"
VITE_API_URL=https://jengamart-0.onrender.com

